.button {
	width: 200px;
	height: 100px;
	background-color: grey;
	border-top: 4px solid lightgrey;
	border-left: 4px solid lightgrey;
	border-right: 4px solid #1a1a1a;
	border-bottom: 4px solid #1a1a1a;
	color: white;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	font-family: verdana;
	user-select: none;
}

.button:hover {
	cursor: pointer;
	background-color: #a8a8a8;
}

.button:active {
	border-top: 4px solid #1a1a1a;
	border-left: 4px solid #1a1a1a;
	border-right: 4px solid lightgrey;
	border-bottom: 4px solid lightgrey;
	line-height: 103px;
}

#asteroidstart {
	position: relative;
	left: 850px;
	top: 475px;
	cursor: default;
}

html {
	overflow: hidden;
}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	background-color: #000;
}