#canvas {
	position: absolute;
	left: 35px;
	top: 1px;
}
#score {
	position: absolute;
	top: 970px;
	left: 50px;
	font-family: verdana;
	font-size: 50px;
	color: white
}
html {
	overflow: hidden;
	background-color: black;
}